@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --gray: #9E9E9E;
    --black: black;
    --rose-red: #FE0341;
    --light-bgColor: #FAF9FA;
    --dark-bgColor: #00030C;
}

body{
    background-color: var(--light-bgColor);
    width: 100%;
}

#container-wrapper{
    position: relative;
    display: grid;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    grid-template-rows: 6% 8% 62% ;
    overflow: hidden;
}
