.list-container{
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.show{
    display: block;
}

ul{
    position: relative;
    height: 93vh;
    backdrop-filter: blur(40px);
    overflow-y:scroll;
    z-index: 1;
}

ul::-webkit-scrollbar{
    background-color: transparent;
}

li{
    position: relative;
    display: grid;
    grid-template-columns: 20vw 55vw 10vw;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    border-radius: 4rem;
    padding: 3px 10px;
}

li:hover{
    border-radius: 4rem;
    background-color: rgba(198, 198, 198, 0.5);
}

li > img{
    width: 55px;
    padding: 2px;
    border: 1.5px solid var(--gray);
    border-radius: 50%;
}

.song-name{
    font-size: 15px;
}

.artist-name{
    font-size: 12px;
    font-weight: lighter;
}

li .play-btn{
    position: relative;
    top: 0;
    left: 0;
    font-size: 2rem;
    color: var(--rose-red);
}
