@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --gray: #9E9E9E;
    --black: black;
    --rose-red: #FE0341;
    --light-bgColor: #FAF9FA;
    --dark-bgColor: #00030C;
}

body{
    background-color: var(--light-bgColor);
}

.dark-mode{
    background: url(../assets/images/black-fone.png) bottom -3rem left -6rem no-repeat;
    background-color: var(--dark-bgColor);
    background-size: 480px;
    color: white;
}

i{
    font-size: 1.2rem;
    cursor: pointer;
}

i:active{
    transform: scale(.9);
}

#bgImage-home{
    position: absolute;
    width: 480px;
    bottom: -3rem;
    left: -6rem;
    z-index: -1;
}

#container{
    position: relative;
    overflow:hidden ;
}

#container-wrapper{
    position: relative;
    display: grid;
    grid-template-rows: 8% 52% 10% ;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
}

#top-icons{
    position: relative;
    display: flex;
    justify-content: space-between;
}

#duration{
    margin-top: 2rem;
    font-size: 14px;
}

#darkMode-btn{
    color: var(--rose-red);
}

#circle-line{
    position: relative;
    display: grid;
    place-items: center;
    place-self: center;

    width: 265px;
    height: 260px;
    border:2px solid var(--gray);
    border-left: transparent;
    border-bottom: transparent;
    border-radius: 50%;
}

#singer-picture{
    width: 220px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px rgb(152, 152, 152);
}

 .play-btn, .pause-btn{
    position: absolute;
    font-size: 3.53rem;
    color: var(--rose-red);
    left: 1rem;
    bottom: 1rem;
}

#song-name-box{
    padding: 0 1rem;
    letter-spacing: 2px;
}

#artist-name{
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.5rem;
}

#controls-and-range-box{
    text-align: center;
}

#rewind-btn, #foward-btn {
   font-size: 2rem;
   padding: 0 10px;
   color: var(--rose-red);
}

#song-range{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    margin: 1rem auto 4rem;
    border-radius: 30px;
    background-image: linear-gradient(to right, white, var(--rose-red));
}

#song-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 22px;
    background-color: var(--rose-red);
    border-radius: 10px;
}

#randon-btn, #loop-btn, #lyrics-btn{
   padding: 0 2rem;
}

.btn-active{
    color: var(--rose-red);
}

