@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --gray: #9E9E9E;
    --black: black;
    --rose-red: #FE0341;
    --light-bgColor: #FAF9FA;
    --dark-bgColor: #00030C;
}

body{
    background-color: var(--light-bgColor);
    width: 100%;
}

.dark-mode{
    background: url(../assets/images/black-fone.png) bottom -3rem left -6rem no-repeat;
    background-color: var(--dark-bgColor);
    background-size: 450px;
    color: white;
}

#container{
    position: relative;
    overflow:hidden ;
}

#container-wrapper{
    position: relative;
    display: grid;
    grid-template-rows: 6% 7% 60% ;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
}

#bgImage-home{
    position: absolute;
    width: 450px;
    bottom: -3rem;
    left: -6rem;
    z-index: -1;
}

#top-icons{
    position: relative;
    display: flex;
    justify-content: space-between;
}

#darkMode-btn, .btn-active{
    color: var(--rose-red);
}

#circle-picture-div, #circle-line, #show-lyrics {
    display: grid;
    place-items: center;
    place-self: center;
}

#circle-line{
    display: grid;
    position: relative;
    width: 280px;
    height: 280px;
    border:2px solid var(--gray);
    border-left: transparent;
    border-bottom: transparent;
    border-radius: 50%;
}

#singer-picture{
    width: 230px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 2px rgb(152, 152, 152);
}

#show-lyrics{
    display: none;
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.2);
    backdrop-filter: blur(50px);
    font-weight: lighter;
    overflow-y:scroll;
}

#show-lyrics::-webkit-scrollbar{
    width: 7px;
}

#show-lyrics::-webkit-scrollbar-thumb{
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}

 .play-btn, .pause-btn{
    position: absolute;
    font-size: 3.53rem;
    color: var(--rose-red);
    left: 1rem;
    bottom: 1rem;
}

#song-name-box{
    padding: 0 1rem;
    letter-spacing: 2px;
    text-align: center;
}

#artist-name{
    font-size: 12px;
    font-weight: lighter;
    line-height: 1.5rem;
}

.control-buttons, .footer-buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#rewind-btn, #foward-btn {
    margin: 0 -5rem;
    font-size: 2rem;
    color: var(--rose-red);
}

#duration, #current-time{
    font-size: 12px;
    font-weight: lighter;
}

#seekbar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    margin: 1rem auto 4rem;
    border-radius: 30px;
    background-image: linear-gradient(to right, white, var(--rose-red));
}

#seekbar::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 22px;
    background-color: var(--rose-red);
    border-radius: 10px;
}

i{
    font-size: 1.2rem;
    cursor: pointer;
}

i:active{
    transform: scale(.9);
}
